:root {
  --primary-color: #4f46e5; /* Indigo más vibrante */
  --secondary-color: #ec4899; /* Rosa más vibrante */
  --background-color: #f5f3ff; /* Fondo con un toque de color */
  --text-color: #0f172a;
  --accent-color: #8b5cf6; /* Color adicional para acentos */
} 